@font-face {
    font-family: 'rawline';
    src: url('https://raw.githubusercontent.com/prathameshkoshti/fonts/blob/master/vaground-webfont.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/prathameshkoshti/fonts/blob/master/vaground-webfont.woff') format('woff');
    font-style: normal;
} 
